:root {
  //Color Codes
  --w-100-snow: #ffffff;
  --r--100-coral: #fce5e6;
  --g-600-grey: #878787;
  --p-600-petrol: #055b6d;
  --r-500-scarlet: #ec0012;
  --r-500-steel-blue :#1e81b0;


  // Font Sizes
  --font-size-8: 8px;
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
}